@{
  Layout = "_Layout";
}

<h1>University Registrar</h1>
<hr />
<h3>@Html.ActionLink("See All Courses", "Index", "Courses")</h3>
<h3>@Html.ActionLink("See All Students", "Index", "Students")</h3>
<h3>@Html.ActionLink("See All Departments", "Index", "Departments")</h3>
<h3>@Html.ActionLink("See All Enrollments", "Index", "Enrollments")</h3>